/* ================================
    CSS STYLES FOR Module LocalizationEditor
   ================================
*/
@font-face {
    font-family: 'EntypoRegular';
    src: url('images/entypo.eot');
    src: url('images/entypo.eot?#iefix') format('embedded-opentype'),
         url('images/entypo.woff') format('woff'),
         url('images/entypo.ttf') format('truetype'),
         url('images/entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
a.entypoButton, a.entypoButton:link, a.entypoButton:visited
{
 font-family: EntypoRegular;
 font-size: 5em;
 text-decoration: none;
 color: #666;
 padding: 4px;
}
a.entypoButton:hover, a.entypoButton:active
{
 color: #000;
}
span.entypoIcon
{
 font-family: EntypoRegular;
 color: #666;
}
span.icon16
{
 font-size: 3em;
}
a.iconLink, a.iconLink:link, a.iconLink:hover, a.iconLink:visited, a.iconLink:active
{
 text-decoration: none;
}

.LabelEditTextClass
{
 background-color: White;
}
.EditBox
{
 background-color: White;
 padding: 6px;
 width: 100%;
}
table.fileTable
{
 width: 100%;
}
table.fileTable td.fileTable_Header
{
 font-weight: bold;
}
table.fileTable td.fileTable_Key
{
 width: 20%;
}
table.fileTable td.fileTable_Original
{
 width: 40%;
}
table.fileTable td.fileTable_Translated
{
 width: 40%;
}

div.suggestions
{
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 border: 1px solid black;
 position: absolute;
 background-color: #ffffff;
}

div.suggestions div
{
 cursor: default;
 padding: 0px 3px;
}

div.suggestions div.current
{
 background-color: #3366cc;
 color: white;
}

table.le_tbl tbody tr td
{
 vertical-align: top;
}

table.le_tbl tbody tr.le_thdr td
{
 font-weight: bold;
}

div.genericLocale 
{
 display:block;
 font-size:large;
 font-weight:bold;
 margin: 14px 0px 10px 0px;
 padding-bottom: 4px;
 width: 100%;
 border-bottom: 1px dotted #666;
}

div.specificLocale
{
 display: inline-block;
 padding: 4px;
 margin: 2px 4px 2px 0px;
 border: 1px solid #eee;
 background-color: #666;
}
div.specificLocale a
{
 white-space: nowrap;
 color: #fff;
 font-weight: bold;
 text-decoration: none;
}
div.specificLocale a:hover, div.specificLocale a:active
{
 color: #ddd;
 text-decoration:none;
}
